<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DEMO_MODE" value="true" force="true" />
        <env name="JSON_PATH" value="./resources/test-files/" force="true" />
        <env name="THE_JOURNAL_JSON_PATH" value="thejournal.json" force="true" />
        <env name="THE_JOURNAL_API_URL" value="https://api.thejournal.ie/v3/" force="true" />
        <env name="THE_JOURNAL_API_USERNAME" value="codetest" force="true" />
        <env name="THE_JOURNAL_API_PASSWORD" value="*******" force="true" />
    </php>
    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
